.galeria {
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}

.foto {
    width: 100%;
    margin-bottom: 50px;
}

@media screen and (max-width:480px) {
    .galeria {
        margin: 0;
        grid-template-columns: 50% 50%;
    }
}